* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.header {
    height: 75px;
    border-bottom: 1px solid #428A3A;
    border-top: 5px solid #428A3A;    
}

.header .header-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.header .header-container .logo-ambiente-token {
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

.header .header-container .logo-java-play {
	display: block;
	float: right;
	width: 85px;
	height: 29px;
	margin-right: 10px;
	margin-top: 23px;
}

.footer {
	background-color: #454545;
    height: 120px;
}

.footer .footer-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.footer .footer-container .nome {
	width: 480px;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	float: left;
}

    border-right: 1px solid #666666;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-top: 45px;
    padding-right: 15px;
    text-align: right;
    width: 300px;	


.footer .footer-container .versao {
	width: 480px;
	font-size: 12px;
	float: left;
}

.page {
	background: #FFFFFF;
	min-height: 600px;
}

.page .page-container {
	margin: 0 auto;
	width: 960px;
	display: table;
	padding-top: 50px;
	padding-bottom: 50px;
}

.page .page-container .ambiente {
	margin: 0 auto;
	width: 400px;
}

.page .page-container .ambiente .ambiente-botao {
    background: #428A3A;
    text-align: center;
    width: 400px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.page .page-container .ambiente .ambiente-botao:hover {
    background: #429A3A;
}