* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.header {
    height: 75px;
    border-bottom: 1px solid #428A3A;
    border-top: 5px solid #428A3A;    
}

.header .header-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.header .header-container .logo-ambiente-token {
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

.header .header-container .logo-java-play {
	display: block;
	float: right;
	width: 85px;
	height: 29px;
	margin-right: 10px;
	margin-top: 23px;
}

.footer {
	background-color: #343434;
    height: 120px;
}

.footer .footer-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.footer .footer-container .esquerdo {
	width: 479px;
	text-align: right;
	float: left;
	border-right: 1px solid #444444;
	margin-top: 40px;
}

.footer .footer-container .direito {
	width: 480px;
	float: left;
	margin-top: 45px;
}

.footer .footer-container .esquerdo .nome {
    font-size: 22px;
    font-weight: bold;
    color: #999999;
    margin-right: 20px;
}

.footer .footer-container .esquerdo .descricao {
    font-size: 12px;
	color: #666666;
    margin-right: 20px;
}

.footer .footer-container .direito .versao {
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}

.footer .footer-container .direito .num-versao {
    font-size: 11px;
	color: #666666;
    margin-left: 20px;
}

.page {
	background: #FFFFFF;
	min-height: 600px;
}

.page .page-container {
	margin: 0 auto;
	width: 960px;
	display: table;
	padding-top: 50px;
	padding-bottom: 50px;
}

.page .page-container .ambiente {
	margin: 0 auto;
	width: 400px;
}

.page .page-container .ambiente .ambiente-botao {
    background: #428A3A;
    text-align: center;
    width: 400px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.page .page-container .ambiente .ambiente-botao:hover {
    background: #429A3A;
}

.page .status-ambiente {
    background: #428A3A;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    height: 170px;
    padding-top: 90px;
    text-align: center;
	text-transform: lowercase;
}

.page .page-container .times {
    display: table;
    margin: 30px auto;
    width: 800px;	}

.page .page-container .times .times-botao {
    background: #428A3A;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    margin: 10px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-align: center;
    width: 180px;
}

.page .page-container .times .times-botao:hover {
    background: #429A3A;
}

.page .page-container table {
	width: 650px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 70px;
}

.page .page-container table th {
	background: #343434;
	color: #EEEEEE;
	padding: 10px;
    text-align: center;
}

.page .page-container table td {
	background: #EEEEEE;
	color: #343434;
	padding: 8px;
    text-align: center;
    font-size: 12px;
}
